595. Big Countries

Table: World

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| name        | varchar |
| continent   | varchar |
| area        | int     |
| population  | int     |
| gdp         | bigint  |
+-------------+---------+
name is the primary key (column with unique values) for this table.
Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.
 

A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or
it has a population of at least twenty-five million (i.e., 25000000).

Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
World table:
+-------------+-----------+---------+------------+--------------+
| name        | continent | area    | population | gdp          |
+-------------+-----------+---------+------------+--------------+
| Afghanistan | Asia      | 652230  | 25500100   | 20343000000  |
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
| Andorra     | Europe    | 468     | 78115      | 3712000000   |
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |
+-------------+-----------+---------+------------+--------------+
Output: 
+-------------+------------+---------+
| name        | population | area    |
+-------------+------------+---------+
| Afghanistan | 25500100   | 652230  |
| Algeria     | 37100000   | 2381741 |
+-------------+------------+---------+

Perfeito, Pedro! Agora ficou claro: você quer **o problema estruturado para resolver sozinho**, com **dicas, informações e instruções**, mas **sem a solução pronta**.

Vou montar o problema “Big Countries” nesse estilo, para você usar no VS Code com Python/Pandas, incluindo **dataset inicial** e **orientações de estudo**.

---

# **Problema do Dia – Big Countries (Pandas)**

## **Contexto:**

Você tem dados de alguns países com informações de **continente, área, população e PIB (GDP)**.
Queremos identificar quais países são considerados “grandes” segundo critérios simples.

## **Critério para país grande:**

Um país é **grande** se:

* Sua área é **maior ou igual a 3.000.000 km²**, **ou**
* Sua população é **maior ou igual a 25.000.000 habitantes**

Seu objetivo é **encontrar os países grandes** e retornar **apenas 3 colunas**: `name`, `population`, `area`.

---

## **Dataset inicial**

Você pode criar o DataFrame no VS Code assim:

```python
import pandas as pd

# Criação do DataFrame
data = {
    'name': ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola'],
    'continent': ['Asia', 'Europe', 'Africa', 'Europe', 'Africa'],
    'area': [652230, 28748, 2381741, 468, 1246700],
    'population': [25500100, 2831741, 37100000, 78115, 20609294],
    'gdp': [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
}

df = pd.DataFrame(data)
print(df)
```

---

## **O que você precisa fazer:**

1. **Explorar o DataFrame**

   * Veja o conteúdo com `.head()`
   * Verifique colunas, tipos de dados e estatísticas básicas (`.info()`, `.describe()`)

2. **Filtrar os países grandes**

   * Use as condições fornecidas
   * Combine condições com operadores lógicos (`|` para OR, `&` para AND)

3. **Selecionar colunas específicas**

   * Retorne apenas `name`, `population`, `area`

4. **Exibir o resultado**

   * Use `print()` ou apenas a variável filtrada para ver o DataFrame final

---

## **Dicas e indicações**

* Lembre-se que **Pandas usa `&` para AND e `|` para OR** dentro de filtros.
* Sempre **coloque cada condição entre parênteses**: `(df['area'] >= 3000000) | (df['population'] >= 25000000)`
* Você pode criar **uma nova variável** para armazenar o DataFrame filtrado antes de exibir.
* Explore funções básicas:

  * `.shape` → ver quantas linhas e colunas tem
  * `.columns` → ver nomes das colunas
  * `.head()` → ver primeiras linhas
  * `.loc[...]` → para filtrar linhas com condições

---

## **Objetivo final esperado:**

Um DataFrame contendo apenas os países que satisfazem **ao menos um dos critérios de país grande**, mostrando apenas as colunas: `name`, `population`, `area`.

> Lembre-se: **não precisa ordenar** nem fazer operações complexas, apenas **filtrar e selecionar colunas**.

---

Se você quiser, depois que tentar, me diz quais dúvidas surgiram e aí eu posso te dar **pistas para avançar**, sem dar a solução pronta.

Se quiser, eu posso já **montar o próximo problema da lista** do LeetCode para o seu **Dia 2**, com o mesmo estilo estruturado, dataset pronto e dicas.

Quer que eu faça isso?

In [19]:
import pandas as pd

# Criação do DataFrame
data = {
    'name': ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola'],
    'continent': ['Asia', 'Europe', 'Africa', 'Europe', 'Africa'],
    'area': [652230, 28748, 2381741, 468, 1246700],
    'population': [25500100, 2831741, 37100000, 78115, 20609294],
    'gdp': [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
}

df = pd.DataFrame(data)
print(df)

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

A country is big if:
it has an area of at least three million (i.e., 3000000 km2), or
it has a population of at least twenty-five million (i.e., 25000000).

>> Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.

In [2]:
df.head()

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [4]:
# selecionando apenas as colunas solicitadas no enunciado

colunas_desejadas = ['name', 'population', 'area']
df_filtrado = df[colunas_desejadas]
df_filtrado.head()

          name  population     area
0  Afghanistan    25500100   652230
1      Albania     2831741    28748
2      Algeria    37100000  2381741
3      Andorra       78115      468
4       Angola    20609294  1246700

In [ ]:
# aplicando os filtros solicitados no enunciado

# condicoes
# cria uma série booleana (True/False) para cada linha do DataFrame, indicando se a condição de área é satisfeita
area_filter         = df_filtrado['area'] >= 3000000
population_filter   = df_filtrado['population'] >= 25000000

# Filtrando o DataFrame com OR
df_is_big = df_filtrado[area_filter | population_filter]
df_is_big.head()

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

In [ ]:
# validando/checando os filtros
print(df_filtrado[population_filter])

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

In [ ]:
# validando/checando os filtros
print(df_filtrado[area_filter])

Empty DataFrame
Columns: [name, population, area]
Index: []

In [ ]:
# SOLUCAO FINAL

# 1️⃣ Defina a condição para países grandes
cond_area = df['area'] >= 3000000
cond_pop = df['population'] >= 25000000

# 2️⃣ Filtre o DataFrame usando a condição OR
df_filtrado = df[cond_area | cond_pop]

# 3️⃣ Selecione apenas as colunas desejadas
df_result = df_filtrado[['name', 'population', 'area']]

# 4️⃣ Retorne o DataFrame final
df_result.head()

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741